.shadow-box:hover {
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}
main.container {
    padding-top: 10px;
}
.margin-block {
    margin: 20px 0;
}
.margin-block-5 {
    margin: 5px 0
}
.label-of-row {
    margin: 20px 0;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: solid 1px #dedede;
}
.label-of-row > a {
    font-size: 16px;
    float: right;
    color: grey;
}
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}
.mini-img.active {
    background-color: white !important;
    border: 1px solid rgba(0, 0, 0, .125);
}
.personalize-tag {
    opacity: 0;
    height: 35px;
    line-height: 35px;
    background-color: #28a745!important
}
.personalize-tag-control:hover > .personalize-tag{
    opacity: 1;

}
.personalize-tag-control:hover > .card{
    border: 1px solid #28a745 !important;
    border-radius: 0;
}

/* Conatct start */

.header-title
{
    text-align: center;
    color:#28a745;
}

#tip
{
    display:none;
}

.fadeIn
{
    animation-duration: 3s;
}

.textarea-contact
{
    resize:none;
}

.btn-send
{
    border:1px solid #28a745;
    background:#28a745;
    color:#fff;
}

.btn-send:hover
{
    border:1px solid #28a745;
    background:#fff;
    color:#28a745;
    transition:background 0.5s;
}

.second-portion
{
    margin-top:50px;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon {
    text-align: center;
    position: relative;
}
.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #28a745;
    vertical-align: middle;
}
.box > .icon > .image > i {
    font-size:
            36px !important;
    color: #fff !important;
}
.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 30px 0 10px 0;
    min-height:163px;
}
.box > .icon > .info > h3.title {
    font-family: "Robot",sans-serif !important;
    font-size: 16px;
    color: #222;
    font-weight: 700;
}
.box > .icon > .info > p {
    font-family: "Robot",sans-serif !important;
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}
.box > .icon > .info > .more a {
    font-family: "Robot",sans-serif !important;
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
.box > .icon:hover > .info > .more > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #63B76C;
}
.box .space {
    height: 30px;
}

@media only screen and (max-width: 768px)
{
    .contact-form
    {
        margin-top:25px;
    }

    .btn-send
    {
        width: 100%;
        padding:10px;
    }

    .second-portion
    {
        margin-top:25px;
    }
}
/* Conatct end */
.hover-pointer:hover {
    cursor: pointer;
}
.hover-underline:hover {
    text-decoration: underline !important
}
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
.page-wrap {
    width: 960px;
    margin: 0 auto;
    max-width: 1400px;
}

.img-thumb-main {
    width: 50px;
    margin-right: 10px;
}

.title-cell {
    text-align: left;
}

#licensed-logo {
    display: block;
    margin: 20px auto 0;
}

#ecard-package {

    padding: 20px;

}

.ecard-player-wrapper {
    margin-bottom: 15px;
    position: relative;
}

.ecard-player {
    width: 100%;
    cursor: pointer;
}

#ecard-media video {
    max-height: 405px;
    max-width: 100%;
    min-height: 200px;
}

.mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.mask:hover {
    opacity: 1;
}

.play-icon {
    background: #037bdf;
    color: #fff;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#message-wrapper {
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 0 0 8px 8px;
    border-width: 0 1px 1px 1px;
    border-color: #DCDCDC;
    border-style: solid;
    box-shadow: 1px 1px 8px #999999;
    z-index: 20;
}

.submit-container {
    padding: 5px;
    width: 100%;
    text-align: right;
}

#ecard-send-btn {
    cursor: pointer;
    background: #613790;
    font-weight: 700;
    font-size: 0.8em;
    padding: 10px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 0 auto;
}

.purple-button {
    padding: 4px 7px;
    border: 1px solid #613790;
    border-radius: 3px;
    color: white;
    text-align: center;
    letter-spacing: 0.9px;
    vertical-align: top;
    font-size: 0.8em;
    background-color: #613790;
    display: inline-block;
}

#content {
    min-height: 500px;
    background: white;
}

#ecard-personalization-header {
    position: relative;
}

#ecard-personalization-header img {
    float: left;
    margin-right: 10px;
    width: 100px;
}

#ecard-personalization-header h3 {
    margin: 0;
}

#send-when-container {
    text-align: center;
}

#send-bar {
    display: inline-block;
    width: 65%;
    margin: 0 auto;
}

#send-bar li label {
    display: inline;
}

#send-bar li {
    float: left;
    color: white;
    background: #ccc;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 45%;
    font-family: 'hmkhandlebarregular';
}

ul li {
    list-style: none;
}

#send-bar li:first-child {
    border-radius: 5px 0 0 5px;
}

#send-bar li:last-child {
    border-radius: 0 5px 5px 0;
}

#later-calendar {
    background: #e6f3ff;
    border-radius: 8px;
    box-shadow: 3px 2px 10px -3px #666;
    margin: 30px auto 10px;
    padding: 10px 10px 35px;
    width: 70%;
}

.form-column {
    width: 45%;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

#recipient-emails {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

#email-add-response {
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    color: darkgreen;
    font-size: 0.9em;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

#valid-email-add[disabled] {
    opacity: 1;
    background: green !important;
    color: white;
}

#valid-email-add {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 25px;
    margin-top: 10px;
}

#activeLetter {
    margin: 0;
    color: white;
    padding: 5px 10px;
    background: #0badc0;
    font-weight: bold;
}

#activeLetter span:first-child {
    padding: 4px 2px;
    font-size: 0.9em;
}

#address-book-contacts ul {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #dcdcdc;
}

#address-book-contacts li {
    margin: 10px 0;
    padding-left: 10px;
    cursor: pointer;
    white-space: nowrap;
}

#address-book-contacts li i.fa-check-square-o {
    color: forestgreen;
}

#add-new-contact {
    font-size: 0.8em;
    text-transform: none;
}

#send-ecard-button {
    text-align: center;
    margin-top: 40px;
    font-size: 1.3em;
}

.purple-button-large {
    cursor: pointer;
    border: 1px solid #613790;
    border-radius: 3px;
    color: white;
    text-align: center;
    letter-spacing: 0.9px;
    vertical-align: top;
    background-color: #613790;
    display: inline-block;
    padding: 8px 14px;
    font-size: 1.1em;
}

.inner-cell {
    display: table-cell;
    vertical-align: middle;
}

.message {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}