<!doctype html>
<html lang="en" ng-app="eGreeting">
<head>
    <title>E Greeting</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cssfooter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="icon" href="img/miniLogo.png">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/lib/jquery-3.2.1.min.js"></script>
    <script src="js/lib/popper.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
    <script type="text/javascript" src="js/lib/toastr.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="js/lib/moment.min.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/route.module.agular.js"></script>
    <script type="text/javascript" src="js/main.angular.js"></script>
</head>
<body>
<div ng-controller="headerController">
    <section class="bg-success">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a href="#"><img src="img/logo.png" alt="E Greeting Logo" width="170" class="img-fluid"></a>
                </div>
                <div class="col-8">
                    <div class="float-right" id="login-logout"> <!-- Khối chức năng, bên phải header -->
                        <a href="#!user" class="text-white hover-pointer hover-underline" ng-if="state.is_login" ng-bind="state.user.username"></a>
                        <a href="#!login" class="text-white hover-pointer hover-underline" ng-if="!state.is_login">Login</a>
                        /
                        <a href="javascript:void(0)" ng-click="logout()" class="text-white hover-pointer hover-underline" ng-if="state.is_login">Logout</a>
                        <a href="#!register" class="text-white hover-pointer hover-underline" ng-if="!state.is_login">Register</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <!--<div class="row">-->
                <a class="navbar-brand" href="#"><i class="fa fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" ng-repeat="nav_item in state.navbar_items | filter: {level: '1'}">
                            <a class="nav-link" href="#!category/{{nav_item.url}}/">{{nav_item.name}}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-birthday-cake"></i> Other
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                <a class="dropdown-item"
                                   href="#!category/{{nav_item.url}}"
                                   ng-repeat="nav_item in state.navbar_items | filter: {level: '2'}">
                                    {{nav_item.name}}
                                </a>
                            </div>
                        </li>

                    </ul>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="query">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" ng-click="search()" style="cursor: pointer;">Search</button>
                    </form>
                </div>
                <!--</div>-->
            </div>
        </nav>
        <div class="progress" style="height: 3px; opacity: 0" id="nav-progress-bar">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>



<!-- Modal -->
<section class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="login-username" class="col-sm-2 col-form-label text-right"><i class="fa fa-user"></i></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="login-username" placeholder="Your username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="login-pasword" class="col-sm-2 col-form-label text-right"><i class="fa fa-lock"></i></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="login-pasword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger text-center" role="alert" id="loginError">
                           <!--  Account information or password is incorrect. -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">&nbsp;</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-outline-primary" onclick="login()">Login <i class="fa fa-sign-in"></i></button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <div class="form-group text-center">Haven't had an account? <a href="#!register/" target="_blank">Register</a></div>
                </form>
            </div>
        </div>
    </div>
</section>

<ng-view></ng-view>

<footer style="margin-top: 30px">
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3> About Us </h3>
                    <p style="white-space: pre-line">E Greeting is a big company selling cards for various occasions. We have a huge collection of cards with one of a kind way of designing. We have met for thousands of customer's expectation.

                       Our greatest goal is to bring customer's happiest and satisfaction.

                       Make your life a better life with cards of join and blissful! We sure help you!</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3> Contact us </h3>
                    <ul>
                        <li> <a href="tel:01699690969">Hotline: 01699690969</a> </li>
                        <li> <a href="https://www.google.com/maps/place/M%E1%BB%99+Lao,+H%C3%A0+%C4%90%C3%B4ng,+H%C3%A0+N%E1%BB%99i/data=!4m2!3m1!1s0x3135accdab6f3ae7:0x60ddfd85d24b0c52?sa=X&ved=0ahUKEwjt8YXP1vDXAhVBS7wKHQzQAZgQ8gEIezAL" target="_blank">Our address: Mo Lao-Ha Dong-Ha Noi</a> </li>
                        <li> <a href="mailto:Ouremail@gamil.com">Our email: Ouremail@gamil.com </a></li>
                        <li> <a href="#">For more information-call: 09666909</a> </li>
                    </ul>
                    <a class="nav-link" href="#!contact/"><i class="fa fa-phone"></i> Contact</a>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h3> Follow us</h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Your Email ">
                                <button class="btn btn-primary" type="button" style="cursor: pointer;"> Subcribe <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li id="goole-plus"> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li id="facebook"> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li id="pinterest"> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li id="twitter"> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li id="youtube"> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-instagram">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
</body>
</html>
