<main class="container">
    <div id="content">
        <div class="page-wrap clearfix">
            <h1>Address and Send</h1>
            <div id="ecard-personalization-header" class="clearfix">
                <img src="https://d3vfpr1jrz597r.cloudfront.net/ecards/thumbnails/npg5161_150.jpg">
                <h3>Jan 5th is Bird Day</h3>
                <a href="">Edit Message</a>
            </div>
            <form action="" method="post" name="addressSendForm">
                <div id="send-when-container" class="form-group">
                    <ul id="send-bar">
                        <li style="background: #613790;">
                            <input id="ecard-when-now" type="radio" value="now">
                            <label for="ecard-when-now">NOW</label>
                        </li>
                        <li>
                            <input id="ecard-when-later" type="radio" value="later">
                            <label for="ecard-when-later">LATER</label>
                        </li>
                    </ul>
                    <div id="later-calendar" class="form-control">
                        <input id="datepicker" name="sendLate" type="text">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left form-column">
                        <h4 class="text-center">FROM</h4>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="pull-right form-column">
                        <h4>TO</h4>
                        <p>Enter up to 50 email addresses; each separated by a comma</p>
                        <div>
                            <textarea id="recipient-emails"
                                      placeholder="dad@example.com, mom@example.com, sister@example.com"/>
                        </div>
                        <div id="email-add-response">
                            <p>Email 'grarenla@gmail.com' added</p>
                            <a href id="valid-email-add" disabled><i class="fa fa-check"> Added!</i></a>
                        </div>
                        <section>
                            <h3><span>Address Book</span></h3>
                            <div id="address-book-contacts">
                                <h4 id="activeLetter" class="clearfix"><span class="pull-left">List Contact</span></h4>
                                <ul>
                                    <li>
                                        <div>
                                            <span><i class="fa fa-check-square-o ng-click-active"></i></span>
                                            <span>hoang@gmail.com</span></div>
                                    </li>
                                    <li>
                                        <div>
                                            <span><i class="fa fa-square-o ng-click-active"></i></span>
                                            <span>hoang@gmail.com</span></div>
                                    </li>
                                </ul>
                                <a href id="add-new-contact" class="pull-right" data-toggle="modal"
                                   data-target="#addNewContact">Add New Contact</a>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="send-ecard-button" class="form-group">
                    <button type="button" class="purple-button-large">
                        <span>Preview</span>
                    </button>
                    <button class="purple-button-large">
                        <span>Send eCrard</span>
                    </button>

                </div>
            </form>
            <div class="modal fade" id="addNewContact" tabindex="-1" role="dialog" aria-labelledby="addNewContactLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewContactLabel">Add New Contact</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputFirstName">First Name</label>
                                        <input type="text" class="form-control" id="inputFirstName"
                                               placeholder="Last Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLastName">Last Name</label>
                                        <input type="text" class="form-control" id="inputLastName"
                                               placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>