<!doctype html>
<html>
<head>
    <title>Video in Email Test</title>
    <style type="text/css">
        .video-wrapper {
            display: none;
        }

        @media (-webkit-min-device-pixel-ratio: 0) and (min-device-width: 1024px) {
            .video-wrapper {
                display: block !important;
            }

            .video-fallback {
                display: none !important;
            }
        }

        @supports (-webkit-overflow-scrolling:touch) and (color:#ffffffff) {
            div[class^=video-wrapper] {
                display: block !important;
            }

            div[class^=video-fallback] {
                display: none !important;
            }
        }

        #MessageViewBody .video-wrapper {
            display: block !important;
        }

        #MessageViewBody .video-fallback {
            display: none !important;
        }
    </style>
</head>
<body>
<B>You receive cards from {{name}}</B><BR>

<!-- video section -->
<div class="video-wrapper" style="display:none;">
    <p>Message: {{message}}</p>
    <video width="320" height="176" controls="controls"
           poster="{{image}}"
           src="{{video}}">
        <!-- fallback 1 -->
        <a href="{{video}}"><img height="176"
                                 src="{{image}}"
                                 width="320"/></a>
    </video>
</div>

<!-- fallback section -->
<div class="video-fallback">
    <p>{{message}}</p>
    <a href="{{video}}"><img height="176"
                             src="{{image}}"
                             width="320"/></a>
</div>
</body>
</html>
