<main class="container">
    <!-- Bread Crumb -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#!products/?categoryId=5a3bc84c60738a2000ebca1d">
                    <img class="d-block w-100" src="img/carousel1.jpg" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#!products/?categoryId=5a3bc94f60738a2000ebca22">
                    <img class="d-block w-100" src="img/carousel2.jpg" alt="Second slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#!products/?categoryId=5a3bc8a260738a2000ebca1e">
                    <img class="d-block w-100" src="img/carousel3.jpg" alt="Third slide">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="label-of-row">
        Holidays cards
        <a href="#!category/holidays">Other <i class="fa fa-chevron-right"></i></a>
    </div>
    <section class="row margin-block">
         <div class="col-md-6 col-sm-6 col-lg-3 margin-block personalize-tag-control" ng-repeat="product in state.holidays">
            <div class="card border-0 w-100">
                <a href="#!personalize/{{product.url}}">
                    <img class="card-img-top" ng-src="{{resizeImg(product.image)}}" alt="{{product.name}}" title="{{product.description}}">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{product.name}}</h5>
                    <!--<p>$.100</p>-->
                </div>
            </div>
            <div class="text-white text-center personalize-tag">
                <i class="fa fa-cart-plus" aria-hidden="true"></i> Personalize
            </div>
        </div>
    </section>

    <div class="label-of-row">
        Greeting cards
        <a href="#!category/greeting-card">Other <i class="fa fa-chevron-right"></i></a>
    </div>
    <section class="row margin-block">
        <div class="col-md-6 col-sm-6 col-lg-3 margin-block personalize-tag-control" ng-repeat="product in state.greetings">
            <div class="card border-0 w-100">
                <a href="#!personalize/{{product.url}}">
                    <img class="card-img-top" ng-src="{{resizeImg(product.image)}}" alt="{{product.name}}" title="{{product.description}}">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{product.name}}</h5>
                    <!--<p>$.100</p>-->
                </div>
            </div>
            <div class="text-white text-center personalize-tag">
                <i class="fa fa-cart-plus" aria-hidden="true"></i> Personalize
            </div>
        </div>
    </section>

    <div class="label-of-row">
        Anniversary cards
        <a href="#!category/anniversary">Other <i class="fa fa-chevron-right"></i></a>
    </div>
    <section class="row margin-block">
        <div class="col-md-6 col-sm-6 col-lg-3 margin-block personalize-tag-control" ng-repeat="product in state.anniversaries">
            <div class="card border-0 w-100">
                <a href="#!personalize/{{product.url}}">
                    <img class="card-img-top" ng-src="{{resizeImg(product.image)}}" alt="{{product.name}}" title="{{product.description}}">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{product.name}}</h5>
                    <!--<p>$.100</p>-->
                </div>
            </div>
            <div class="text-white text-center personalize-tag">
                <i class="fa fa-cart-plus" aria-hidden="true"></i> Personalize
            </div>
        </div>
    </section>
</main>