<main class="container">
    <h3 class="header-title mt-3">Login</h3>
    <form class="row justify-content-center mt-3" name="loginForm">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-user"></i></label>
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Username" name="username" ng-model="loginData.username">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-lock"></i></label>
                <div class="col-11">
                    <input type="password" class="form-control" placeholder="Passwords" name="password" ng-model="loginData.password">
                </div>
            </div>
        </div>
    </form>


    <div class="row justify-content-center mt-3">
        <button type="button" class="btn btn-outline-primary float-right disabled" ng-disabled="registerForm.$invalid" style="cursor: pointer;" ng-click="login()">
            Login <i class="fa fa-sign-in"></i>
        </button>&nbsp;
    </div>
</main>
