<main class="container">
    <div class="clearfix">
        <div class="row" id="ecard-media">
            <div id="ecard-package" class="col-md-12 personalize">
                <div class="text-center">
                    <h3>{{state.data.name}}</h3>
                </div>
                <div class="ecard-player-wrapper">
                    <video class="ecard-player" preload="auto" id="video-demo" src="{{state.data.video}}" controls>
                    </video>
                    <!--<div class="mask flex-center" ng-click="playVideo()">-->
                        <!--<div class="play-icon flex-center" ng-if="!state.is_playing"><i-->
                                <!--class="fa fa-play fa-2x ml-1"></i></div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="row" id="ecard-details">
            <div class="col-md-12">
                <form action="" method="post" name="send_form">
                    <div id="send-when-container" class="form-group">
                        <ul id="send-bar">
                            <li ng-style="{background: state.now_type ? '#613790' : ''}">
                                <input id="ecard-when-now" type="radio" ng-value="true" name="time_type"
                                       ng-model="state.now_type">
                                <label for="ecard-when-now">NOW</label>
                            </li>
                            <li ng-style="{background: !state.now_type ? '#613790' : ''}">
                                <input id="ecard-when-later" type="radio" ng-value="false" name="time_type"
                                       ng-model="state.now_type">
                                <label for="ecard-when-later">LATER</label>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left form-column">
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                <input type="text" class="form-control" id="fullName" name="full_name"
                                       placeholder="Full name" ng-model="state.data.full_name" required>
                            </div>
                            <div ng-if="send_form.full_name.$invalid && send_form.full_name.$dirty">
                                <span class="text-danger" ng-if="send_form.full_name.$error.required">Full name is required.</span>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea id="message" class="message" name="message"
                                          ng-model="state.message"></textarea>
                            </div>

                            <!--<div ng-if="send_form.message.$invalid && send_form.message.$dirty">-->
                            <!--<span class="text-danger"-->
                            <!--ng-if="send_form.message.$error.required">Message is required.</span>-->
                            <!--</div>-->
                        </div>
                        <div class="pull-right form-column">
                            <div class="form-group">
                                <label for="recipient-emails">Emails</label>
                                <textarea id="recipient-emails" name="to_emails"
                                          placeholder="Each email is separated by commas. Example: dad@example.com,mom@example.com,sister@example.com"
                                          ng-model="state.data.to_emails" required></textarea>
                                <div ng-if="send_form.to_emails.$invalid && send_form.to_emails.$dirty">
                                    <span class="text-danger"
                                          ng-if="send_form.to_emails.$error.required">Email is required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-if="!state.now_type">
                                <label for="send_time">Date Time</label>
                                <input id="send_time" class="form-control" ng-model="state.temp_send_time" name="send_time" type="datetime-local">
                                <span class="text-danger"
                                      ng-if="!isValidSendTime()">In Valid send time.</span>
                            </div>
                        </div>
                    </div>
                    <div id="send-ecard-button" class="form-group">
                        <button class="purple-button-large" type="button" ng-click="doSubmit()">
                            <span>Send eCrard</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</main>
<script>

</script>