<main class="container">
    <h3 class="text-center text-danger mt-3">Subscribe packs</h3>
    <div class="row mt-3">
        <div class="col-4" ng-repeat="premium in premiums">
            <div class="card text-center">
                <h3 class="card-header">{{premium.name}}</h3>
                <div class="card-body">
                    <h1 class="card-title">US ${{premium.price}}</h1>

                    <p class="card-text">/{{premium.effective_long}} days</p>

                    <a href="javascript:void(0)" class="btn btn-primary" ng-click="buy(premium._id)" ng-if="!is_buy">
                        Buy now
                    </a>
                    <a href="javascript:void(0)" class="btn btn-primary disabled" ng-click="buy(premium._id)" ng-if="is_buy">
                        Buy now <i class="fa fa-spin fa-spinner"></i>
                    </a>
                </div>
            </div>
        </div>


    </div>
</main>