<main class="container">
    <!-- Bread Crumb -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product List</li>
        </ol>
    </nav>
    <div class="row">
        <form class="form-inline ml-4">
            <div class="form-row">

                <div class="form-group ml-2">
                    <div class="form-inline">
                        <input type="text"
                               class="form-control"
                               placeholder="Card's name"
                               ng-model="state.request_query.search"
                               ng-keyup="refresh($event)">
                    </div>
                </div>
                <button type="button" class="btn btn-outline-info ml-2" ng-click="refresh()">Go <i class="fa fa-search"></i></button>

            </div>
        </form>
    </div>

    <div class="container-fluid">
        <section class="row margin-block">
            <div class="col-md-6 col-sm-6 col-lg-3 margin-block personalize-tag-control" ng-repeat="product in products">
                <div class="card border-0 w-100">
                    <a href="#!personalize/{{product.url}}">
                        <img class="card-img-top" ng-src="{{resizeImg(product.image)}}" alt="{{product.name}}" title="{{product.description}}">
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{product.name}}</h5>
                        <!--<p>$.100</p>-->
                    </div>
                </div>
                <div class="text-white text-center personalize-tag">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Personalize
                </div>
            </div>
        </section>
    </div>

    <nav aria-label="..." style="padding-top: 30px;">
        <ul class="pagination justify-content-end" id="pagination">
            <li class="page-item" ng-if="state.meta.hasPrevPage">
                <a class="page-link" href="javascript:void(0)"
                   ng-click="$watch(state.request_query.page=state.request_query.page-1, refresh())">Previous
                </a>
            </li>
            <li class="page-item disabled" ng-if="!state.meta.hasPrevPage">
                <a class="page-link" href="">Previous</a>
            </li>

            <li class="page-item" ng-if="state.meta.hasNextPage">
                <a class="page-link" href="javascript:void(0)"
                   ng-click="$watch(state.request_query.page=state.request_query.page+1, refresh())">Next
                </a>
            </li>
            <li class="page-item disabled" ng-if="!state.meta.hasNextPage">
                <a class="page-link" href="">Next</a>
            </li>
        </ul>
    </nav>
</main>