<main class="container">
    <h3 class="header-title mt-3">Register for free and get your benefit as a member</h3>
    <form class="row mt-3" name="registerForm">
        <div class="col-md-6">
            <h4 class="header-title mb-3">User Account</h4>
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-user"></i></label>
                <div class="col-11">
                    <input type="text"
                           class="form-control"
                           placeholder="Username"passwordCo
                           name="username"
                           ng-model="registerData.username"
                           required minlength="8">
                    <div ng-if="registerForm.username.$invalid && registerForm.username.$dirty">
                        <span class="text-danger" ng-if="registerForm.username.$error.required">Please enter username</span>
                        <span class="text-danger" ng-if="registerForm.username.$error.minlength">Username has at least 8 characters</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-envelope" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input type="email" class="form-control" placeholder="Email" name="email" ng-model="registerData.email" required>
                    <div ng-if="registerForm.email.$dirty && registerForm.email.$invalid && registerForm.email.$error.required">
                        <span class="text-danger">Please enter email</span>
                    </div>
                    <div ng-if="registerForm.email.$dirty && registerForm.email.$invalid && !registerForm.email.$error.required">
                        <span class="text-danger">Not valid email</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-lock"></i></label>
                <div class="col-11">
                    <input type="password"
                           class="form-control"
                           placeholder="Passwords"
                           name="password"
                           ng-model="registerData.password"
                           required minlength="8">
                    <div ng-if="registerForm.password.$dirty && registerForm.password.$invalid">
                        <span class="text-danger" ng-if="registerForm.password.$error.required">Please enter password</span>
                        <span class="text-danger" ng-if="registerForm.password.$error.minlength">Password has at least 8 characters</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-lock"></i></label>
                <div class="col-11">
                    <input type="password" class="form-control" placeholder="Confirm passwords" name="confirmPassword" ng-model="registerData.confirmPassword">
                    <div ng-if="registerForm.confirmPassword.$dirty && registerForm.password.$valid">
                        <span class="text-danger" ng-if="!passwordConfirmation()">Password not match</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h4 class="header-title mb-3">Customer Information</h4>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-address-book" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Your address" name="address" ng-model="registerData.address">

                </div>
            </div>
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-user"></i></label>
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Your full name" name="fullName" ng-model="registerData.fullName" >

                </div>
            </div>
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-birthday-cake" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input id="datepicker" type="text" class="form-control" placeholder="MM/DD/YYYY" name="birthDay">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-transgender-alt" aria-hidden="true"></i></label>
                <div class="col-11">
                    <select class="form-control mb-2 mr-sm-2 mb-sm-0" name="gender" ng-model="registerData.gender">
                        <option selected value="" disabled="disabled">Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Another</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-phone-square" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Phone number" name="phone" ng-model="registerData.phone">
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-center mt-3">
    	<button id="register-button" type="button" class="btn btn-outline-primary float-right disabled" ng-disabled="registerForm.$invalid || !passwordConfirmation() || is_submitting" style="cursor: pointer;" ng-click="doSubmit()">
	    	Register <i class="fa fa-sign-in" ng-if="!is_submitting"></i>
            <i ng-if="is_submitting" class="fa fa-spin fa-spinner"></i>
	    </button>&nbsp;
    </div>
</main>
