<main class="container">
    <h3 class="header-title mt-3">User information</h3>
    <form class="row mt-3 justify-content-center" name="userForm">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-user"></i></label>
                <div class="col-11">
                    <input type="text" class="form-control" ng-model="user.username" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-envelope" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input type="email" class="form-control" ng-model="user.email" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-lock" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password">

                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-address-book" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Address" name="address" ng-model="user.address">

                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-user"></i></label>
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Full name" name="fullName" ng-model="user.fullName">

                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-birthday-cake" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input id="datepicker" type="text" class="form-control" placeholder="MM/DD/YYYY" name="birthday" ng-model="birthdayFormat">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-transgender-alt" aria-hidden="true"></i></label>
                <div class="col-11">
                    <select class="form-control mb-2 mr-sm-2 mb-sm-0" name="gender" ng-model="genderFormat">
                        <option value="" disabled="disabled">Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Another</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-1 col-form-label"><i class="fa fa-phone-square" aria-hidden="true"></i></label>
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="user.phone">
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-center mt-3">
        <button id="saveBtn" type="button" class="btn btn-outline-primary" ng-click="save()" ng-disabled="saving">
            Save <i class="fa fa-save"></i>
        </button>
    </div>
</main>
